*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    color: white;
    background-color: black;
}
.navbar-brand {
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    cursor: pointer;
    text-decoration: no;
}

/* main section */

.main {
    width:100%;
    height: 100vh;
}

.main h3 small{
    font-weight: 300;
}
.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}

.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid #4663ac;
    width: 86%;
}

.main .bt1{
    height: 55px;
    width: 138px;
    background-color:#4663ac ;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.main .bt1:hover{
    background-color: #254187;
    transition: 0.5s;
}
.main .bt2{
    height: 55px;
    width: 138px;
    background-color:transparent ;
    color: #4663ac;
    outline: none;
    border: 3px solid #4663ac;
    font-weight: bold;
    border-radius: 5px;
}

.main .bt2:hover{
    background-color: #4663ac;
    color: white;
    transition: 0.5s;
}

.about{
    padding-top: 13em;
    height: 100vh;
}

.about img{

    -webkit-box-shadow: 6px 4px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 29px -14px rgba(0,0,0,0.75);
}

.about h1{
    font-size: 3rem;
    font-weight: 700;
}

.progress{
    background-color: rgb(215, 215, 215);
    justify-content: flex-start;
    border-radius: 50%;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;


    -webkit-box-shadow: inset 1px -3px 176px -97px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px -3px 176px -97px rgba(0,0,0,0.75);
    box-shadow: inset 1px -3px 176px -97px rgba(0,0,0,0.75);
}

.pro-value1{
    animation: load1 3s normal forwards;;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.progress p{
    color: white;
    padding: 4px;
}

.pro-value2{
    animation: load2 3s normal forwards;;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards;;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}

@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 55%;
    }
}

@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 20%;
    }
}

@keyframes load4{
    0%{
        width: 0;
    }
    100%{
        width: 15%;
    }
}

.btn1 {
    height: 40px;
    width: 145px;
    outline: none;
    border: 2px solid black;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.btn1:hover {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    transition: 0.5s;
}

.btn2 {
    height: 40px;
    width: 145px;
    outline: none;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 5px;
    color: black;
}

.btn2:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
    transition: 0.5s;
}

.more {
    height: 100vh;
}
.more .container{
    justify-content: center;
}

.another {
    height: 100vh;
}
